:root {
    --primary: #ff6842;
    --secondary: #797a7c;
    --body-clr: #f5f6fa;
    --sidebar: #ffffff;
    --text-clr: #000000;
    --ongoing: #f4a100;
    --completed: #1cc88a;
    --edit: #0061f2;
    --delete: #da0909;
    --hover: #ffd9d0;
    --lightblue: #e6f2ff;
}
/* ========================== Header Tabel ========================== */
thead {
    background-color: var(--edit);
    color: var(--sidebar);
}
thead th {
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}

/* Ikon Sorting */
.bx.bxs-up-arrow,
.bx.bxs-down-arrow {
    display: block;
    font-size: 0.8rem;
    transition: color 0.3s ease;
}
/* Warna aktif untuk segitiga atas */
.bx.bxs-up-arrow.active {
    color: #fff;
}
/* Warna non-aktif untuk segitiga atas */
.bx.bxs-up-arrow.inactive {
    color: rgba(255, 255, 255, 0.6);
}
/* Warna aktif untuk segitiga bawah */
.bx.bxs-down-arrow.active {
    color: #fff;
}
/* Warna non-aktif untuk segitiga bawah */
.bx.bxs-down-arrow.inactive {
    color: rgba(255, 255, 255, 0.6);
}

/* ========================== Search Input & Entries ========================== */
.form-select-entries {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border-color: #ccc;
    border-radius: 0.5rem;
    align-items: center;
    text-align: center;
}
.entries-label {
    font-size: 1rem;
}
.search-form .input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 250px;
}
.input-group-text i {
    font-size: 1.3rem;
    color: var(var(--secondary));
}
.input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    color: var(--secondary);
    border: none;
    background: none;
}
.search-input {
    border: none;
    font-size: 0.875rem;
    flex: 1;
}
.search-input:focus {
    outline: none;
    box-shadow: none;
}
.input-group:hover {
    border-color: var(--secondary);
}

/* ========================== Tombol Tambah ========================== */
.btn-add {
    background-color: var(--primary);
    border-radius: 0.5rem;
    color: var(--sidebar);
    font-size: 0.875rem;
    border: none;
    transition: transform 0.1s ease-in-out;
}
.btn-add:active {
    background-color: #d2593b;
    color: var(--sidebar);
    transform: scale(0.95);
}
/* ========================== Isi Tabel ========================== */
tbody td {
    font-size: 0.8rem;
}
tbody tr:nth-child(odd) {
    background-color: var(--sidebar); /* Warna putih untuk baris ganjil */
}
tbody tr:nth-child(even) {
    background-color: var(--lightblue); /* Warna biru muda untuk baris genap */
}
/* lebar per-kolom */
.table th:nth-child(1),
.table td:nth-child(1) {
    width: 90px;
}
.table th:nth-child(2),
.table td:nth-child(2) {
    width: 100px;
}
.table th:nth-child(3),
.table td:nth-child(3) {
    width: 110px;
}
.table th:nth-child(4),
.table td:nth-child(4) {
    width: 120px;
}
.table th:nth-child(5),
.table td:nth-child(5) {
    width: 120px;
}
.table th:nth-child(6),
.table td:nth-child(6) {
    width: 90px;
}
.table th:nth-child(7),
.table td:nth-child(7) {
    width: 70px;
}
.table th:nth-child(8),
.table td:nth-child(8) {
    width: 70px;
}
.table th:nth-child(9),
.table td:nth-child(9) {
    width: 90px;
}
.table th:nth-child(10),
.table td:nth-child(10) {
    width: 90px;
}
/* ========================== Pagination ========================== */
.pagination {
    margin: 0;
}
.pagination li a {
    font-size: 0.875rem;
    color: var(--text-clr);
}
.pagination li a:focus {
    box-shadow: none;
    border: none;
}
.pagination li.active a {
    background-color: var(--edit);
    border-color: var(--edit);
    color: var(--sidebar);
}

/* ========================== Tombol Edit & Hapus ========================== */
.button-container {
    display: flex;
    gap: 0.3rem;
}
.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.7rem 0.9rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
.btn-edit i,
.btn-delete i {
    font-size: 0.8rem;
}
.btn-edit {
    background-color: var(--edit);
    color: var(--sidebar);
}
.btn-edit:hover {
    color: var(--sidebar);
}
.btn-edit:active {
    background-color: #0654c7;
    color: var(--sidebar);
    transform: scale(0.95);
}
.btn-delete {
    background-color: var(--sidebar);
    border: 1px solid var(--hover);
    color: var(--delete);
    padding: 0.5rem 0.7rem;
}
.btn-delete:hover {
    border: 1px solid var(--hover);
    color: var(--delete);
    padding: 0.5rem 0.7rem;
}
.btn-delete:active {
    background-color: var(--delete);
    color: var(--sidebar);
    transform: scale(0.95);
}
